
* {
    font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;

}
ul{
    list-style: none;
}
body{
    color: #333;
    font-size: 14px;
    line-height: 1.75;
    text-align: left;
}
ul,ol,li {
    list-style-type: none
}
a{
    text-decoration: none;
    color: #333;
}
a:hover {
    color: #4285f4;
}
.w-e-text-container{
    height: calc(100vh - 36px) !important;
}
.el-message-box__wrapper{
    z-index: 20000 !important;
}









/* table 样式 */
.content table {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.content table td, .content table th {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 3px 5px;
}
.content table th {
    border-bottom: 2px solid #ccc;
    text-align: center;
}

/* blockquote 样式 */
.content blockquote {
    display: block;
    border-left: 8px solid #d0e5f2;
    padding: 5px 10px;
    margin: 10px 0;
    line-height: 1.4;
    font-size: 100%;
    background-color: #f1f1f1;
}

/* code 样式 */
.content code {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 0 3px;
}
.content pre code {
    display: block;
}

/* ul ol 样式 */
.content ul, ol {
    margin: 10px 0 10px 20px;
}
